body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background:lightgreen;
    color:black;
    margin: 0;
    padding: 0;
}

header {
    background:darkgreen;
    color: black;
    padding: 10px 0; 
    text-align: center;
}

header nav a {
    color:black;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color:huntergreen;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: huntergreen;
}

footer {
    text-align: center;
    background: huntergreen;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
